In [1]:
import pandas as pd
import numpy as np

In [3]:
d = {'gre_score':[337,324,316,322,314],'toefl':[118,107,104,110,103]}
index = [1,2,3,4,5]
df= pd.DataFrame(d, index=index)
df

   gre_score  toefl
1        337    118
2        324    107
3        316    104
4        322    110
5        314    103